/* RESET INICIAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Remove rolagem lateral */
    font-family: 'Poppins', Arial, sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* CONTAINER */
.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: stretch;
}

/* DIV1 ESTILO */
.div1 {
    background: linear-gradient(to right, #0a0a0a, rgba(0, 0, 0, 0.6) 50%, #0a0a0a 100%), 
                #141514;
    position: relative;
    width: 50%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 20px 10px;
    z-index: 1;
    border: 10px solid transparent;
    border-image: linear-gradient(to right, #2bc6c2, rgba(43, 198, 194, 0));
    border-image-slice: 1;
    border-radius: 20px;
}

.div1 img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: transform 1s ease; /* Transição suave */
}

.div1 img.lucasfranca-img {
    z-index: 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    transition: transform 1s ease;
}

.div1 img.maquina {
    z-index: 4;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 1s ease;
}

/* DIV2 ESTILO */
.div2 {
    background: linear-gradient(to left, #0d0d0d, #0a0a0a);
    width: 50%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    text-align: center;
    z-index: 1;
    overflow: visible; /* Permite rolagem caso necessário */
}

.div2 .main-title {
    font-family: 'Montserrat', sans-serif;
    font-size: clamp(4em, 6vw, 10em);
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.div2 .sub-title {
    font-size: clamp(1.8em, 3vw, 4em);
    font-weight: 400;
    color: #b3b3b3;
    margin-bottom: 40px;
}

/* BOTÕES */
button, .inst, .tik-tok {
    width: 80%;
    height: 200px;
    margin: 10px ;
    background: linear-gradient(to right, #2bc6c2, #ffffff); 
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: clamp(1em, 2vw, 4.5em); /* Ajuste dinâmico */
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    text-decoration: none;
}

button:hover, .inst:hover, .tik-tok:hover {
    background: linear-gradient(to right, #1a8280, #d9d9d9);
    transform: scale(1.1);
}

/* TEXTO DE AVALIAÇÃO */
.review-text {
    font-size: clamp(1em, 1.5vw, 2em); /* Ajuste dinâmico */
    color: #ffffff;
    margin-top: 20px;
    text-align: center;
}

.stars {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 5px;
}

.stars i {
    color: #ffd700;
    font-size: clamp(2em, 3vw, 4.5em);
}

/* DIV3 ESTILO */
.div3 {
    background-color: #000000;
    width: 100%;
    min-height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    
}

.div3 img {
    width: 150px;
    height: auto;
    margin-bottom: 5px;
    margin-top: 50px;
    margin-left: 20%;
}

.div3 p {
    color: #ffffff;
    font-size: clamp(1em, 1.5vw, 2em);
    font-family: 'Poppins', Arial, sans-serif;
    margin: 50px auto;
}

/* MEDIA QUERY PARA 768PX */
@media (max-width: 666px) {
    .container {
        flex-direction: column;
        width: 100%;
    }

    .div1, .div2 {
        width: 100%;
        height: 55vh;
        overflow: auto;
        padding: 10px;
        
    }
    button, .inst, .tik-tok {
        font-size: clamp(1.3em, 2vw, 4.5em); /* Ajuste dinâmico */
    }
    .div2 .sub-title {
        margin: 4px;
    }
    .div2 .main-title {
        margin: 3px ;
    }
    .review-text{
        font-size: clamp(1.5em, 2.5vw, 3em);

    }
   
    .div3 {
        height: auto;
        padding: 10px;
        text-align: center;
        flex-direction: column
    }
    .div3 img {
        width: 100px;
        height: auto;
        margin-bottom:1px;
        margin-top: 1px;
        margin-left: 0px;
    }
    .div3 p {
        color: #ffffff;
        font-size: clamp(1em, 2vw, 3.5em);
        font-family: 'Poppins', Arial, sans-serif;
        margin: 10px auto;
    }
    .stars {
        gap: 10px;
    }

    .div2 .main-title {
        font-size: clamp(2em, 5vw, 4em);
    }

    .div2 .sub-title {
        font-size: clamp(1em, 4vw, 2.5em);
    }
}

@media (max-width: 1024px) and (min-height: 300px) and (orientation: landscape) {
    .container {
        display: flex; /* Alinha as divs horizontalmente */
         /* Garante que as divs fiquem na mesma linha */
        justify-content: space-between; /* Espaçamento uniforme entre as divs */
        align-items: flex-start; /* Alinha as divs ao topo */
        width: 100%;
    }

    .div1 {
        width: 50%; /* Cada div ocupa metade da largura */
        height: 80vh; /* Ajusta a altura proporcional ao formato paisagem */
        padding: 10px;
        box-sizing: border-box; /* Inclui padding na largura e altura */
        overflow: hidden; /* Evita que o conteúdo ultrapasse os limites */
    }
    .div2 {
        width: 50%; /* Cada div ocupa metade da largura */
        height: 80vh; /* Ajusta a altura proporcional ao formato paisagem */
        padding: 10px;
        box-sizing: border-box; /* Inclui padding na largura e altura */
        overflow: visible; /* Evita que o conteúdo ultrapasse os limites */
    }
    .div2 .sub-title {
        margin: 1px;
        font-size: clamp(1em, 2vw, 3em);
    font-weight: 200px;
    }
    .div2 .main-title {
        margin: 1px ;
        font-size: clamp(1em, 2vw, 3em);
    font-weight: 200;
    }
    .review-text{
        font-size: clamp(1em, 1vw, 3em);
    }
    .div3 {
        width: 100%; /* O rodapé ocupa toda a largura */
        height: 5%; /* Adapta a altura dinamicamente ao conteúdo */
        padding: 10px 5px; /* Espaçamento interno no rodapé */
        margin-bottom: none;
        text-align: center; /* Centraliza o conteúdo do rodapé */
        background-color: #141414; /* Fundo discreto para o rodapé */
        display: flex;
        flex-direction: row;

        
    }
    .div3 img {
        width: 100px;
        height: auto;
        margin-bottom:1px;
        margin-top: 1px;
        margin-left: 20%;
    }
    .div3 p {
        color: #ffffff;
        font-size: clamp(0.7em, 1vw, 1.5em);
        font-family: 'Poppins', Arial, sans-serif;
        margin: 10px auto;
    }
    .stars {
        gap: 10px;
       
    }

}

    